<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>{%block header %} Kookkompas {% endblock %}</header>
<p>Welkom op ons Kookkompas.</p>
<p>Kies lekker gerechten aangepast aan jou.</p>

<nav>
    <a href = "/Gebruiker">Gebruiker</a>
    <a href = "/Allergieen">Allergieen</a>
    <a href = "/Gerechten">Gerechten</a>
</nav>
<main>
    {% block Gebruikers %}{% endblock %}
    {% block Allergieen %}{% endblock %}
    {% block Gerechten %}{% endblock %}
</main>
<footer>Groepswerk Kookkompas by Soffia , Christoph , Daan en Yannick, 2026</footer>
</body>
</html>